html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: droid-sans,sans-serif;
  font-weight: 400;
  font-style: normal;} 

#grad {
    background-image: linear-gradient(red, yellow);
    width: 100%;
    max-width: 1500px;
}

body {
    font-family: 'Bungee Spice', cursive;
    width: 100%;
}

header {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    font-size: 3rem;
    background-color: #621708;
}

header h1 {
    display: grid;
    justify-self: start;
    padding: 70px 0 0 0;
    text-shadow: 0 0 5px black;
}

header img {
    box-sizing: border-box;
    justify-self: normal;
    border-radius: 50%;
    margin: 69px;
    transform: rotate(22deg);
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: center;
    background-color: aqua;
}

header nav {
    justify-self: start;
    font-size: 20px;
}

header nav ul li a:hover {
    background: black;
}

nav {
    display: flex;
    flex-direction: wrap;
}

.menu-de-nav {
    display: grid;
    justify-content: center;
}

section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

section img {
    max-width: 290px;
    border-radius: 10px;
    margin: 40px;
    height: auto;
    width: 100%;
    transition: all 2s;
}

section img:hover {
    height: auto;
    width: 250px;
}

footer img {
    max-width: 290px;
    border-radius: 10px;
    margin: 70px;
}

footer {
    position: static;
    bottom: 0;   
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    background-color: #621708;
}

footer p {
    justify-self: end;
    align-self: center;
}

.facebook {
    position: relative;
    bottom: 15px;
}

.twiter {
    position: relative;
    bottom: 15px;
}

.comida,
.bebidas {
    background-color: #403d39;
    display: grid;
}

.comida p,
.bebidas p {
    margin-top: 40px;
}

main {
    font-family: 'Bungee Spice', cursive;
}

.comida,
.bebidas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

form {
    display: flex;
    width: 100%;
    height: auto;
    margin: 50px;
}

@media screen and (max-width:576px) {
    header{
        grid-template-columns: 1fr;
        font-size: 2rem;}
    section{grid-template-columns: 1fr;}
    header img{margin: 0;}
}
.grande {
    width: 250px;
    height: 170px;}