$titulos:3rem;
$subtitulos:24px;


h1{font-size: $titulos;}
text{font-size: $subtitulos;}

body img{
    transform: rotate(360deg);
}
img{transition: all 2s;}
img:hover{
    padding: 20%;
}

@media screen and (max-width:576px) {
    header{
        grid-template-columns: 1fr;
        font-size: 2rem;}
    section{grid-template-columns: 1fr;}
    header img{margin: 0 0 0 70px}